<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Order Confirmation</title>
  </head>
  <body>
    <h2>Xin chào {{name}},</h2>
    <p>Cảm ơn bạn đã đặt hàng tại cửa hàng của chúng tôi!</p>
    <p><strong>Mã Đơn Hàng:</strong> {{orderId}}</p>
  </body>
</html>